# Eclipse
/bin
.settings
.classpath
.project
.cache*

# sbt
target/
src-managed/
.history

# Development
/_build
_assemble.*
RouterWatcher-*.jar
buildinfo.*

# Application
application.conf
log.txt
log.*.txt*
