# Eclipse
/bin
.settings
.classpath
.project
.cache*

# sbt
target/
src-managed/
.history

# Development
/_build
_assemble.*
router-watcher-*.jar
buildinfo.*

# Application
application.conf
router-watcher.log
router-watcher.*.log*
