db = {
  url = "jdbc:mysql://localhost:3306/adsl_watcher"
  driver = com.mysql.jdbc.Driver
  user = "root"
  password = ""
  keepAliveConnection = true
  connectionPool = disabled
}

period = {
  longterm = 600000 // 10 minutes
}

device = {
  host = "192.168.10.1"
  username = "admin"
  password = "admin"
  interface = "0" // Exact meaning of this setting is modem-specific
}
