db = {
  url = "jdbc:mysql://localhost:3306/router_watcher"
  driver = com.mysql.jdbc.Driver
  user = "root"
  password = ""
  keepAliveConnection = true
  connectionPool = disabled
}

period = {
  detailed = 15000 // 15 seconds
  longterm = 600000 // 10 minutes
  storeDetailedFor = 86400000 // 24 hours
}

router = {
  username = "admin"
  password = "admin"
  interface = "0" // Exact meaning of this setting is router-specific
}
